
<header>
  <div class="header-logo">
    <a href="/posts/index">つぶやきを見る</a>
  </div>
</header>
<div class="main top-main">
  <div class="top-message">
    <%# <h2>Alphatter</h2> %>
    <h2 class="gr1"><span>Alphatter</span></h2>
    <p>すべての話題が、ここに。</p>
    <p>Alphatterをはじめよう</p>
  </div>
</div>